.resume
  .base
    .profile
      .photo
        img(src='https://www.gravatar.com/avatar/9ec474547c8e7ea2043c7904c162e486?s=128&d=identicon&r=PG')
      .info
        h4.name Umar Farooq
        small.job Computer Science Student <br> Cyber Security Student <br> Web Developer
    .about
      h3 About me
      I I am a Computer Science and Cyber Security Student with Python & Machine Learning Enthusiasm.
      br
      I I am also interested in Web Development.
    .contact
      h3 Contact
      .call
        i.fa.fa-phone
        span (+91)6005728432
      .address
        i.fa.fa-map-marker
        span Srinagar, Kashmir
      .email
        i.fa.fa-envelope
        span soulatf3@gmail.com
      .website
        a(href='http://codepen.io/umarcbs', target='_blank') 
          i.fa.fa-home
          span codepen.io/umarcbs
    .follow
      h3 Follow
      .box
        a(href='https://twitter.com/umarcbs')
          i.fa.fa-twitter
        a(href='https://github.com/umarcbs')
          i.fa.fa-github
        a(href='https://medium.com/@umarcbs')
          i.fa.fa-medium
        a(href='https://codepen.com/umarcbs')
          i.fa.fa-codepen
        a(href='https://stackexchange.com/users/19587592/umar-farooq')
          i.fa.fa-stack-overflow
        a(href='https://pinterest.com/umarcbs', target="_blank")
          i.fa.fa-pinterest
  .func
    .work
      h3
        i.fa.fa-briefcase
        | Work Exrerience
      ul
        li
          span Web Development
          small Apr 2014 - Now
        li
          span Cyber Security
          small Mar 2018 - Now
        li
          span Design Assistant
          small Oct 2014 - Jul 2018
    .edu
      h3
        i.fa.fa-graduation-cap
        | Education
      ul
        li
          span Master of Technology <br>(Cyber Security)
          small 2018 - 2020
        li
          span Bachelor of Technology <br>(Computer Science & Engineering)
          small 2014 - 2018
    .skills-prog
      h3
        i.fa.fa-code
        | Programming Skills
      ul
        li(data-percent='97')
          span HTML5
          .skills-bar
            .bar
        li(data-percent='96')
          span CSS3 & SASS
          .skills-bar
            .bar
        li(data-percent='87')
          span JavaScript
          .skills-bar
            .bar
        li(data-percent='85')
          span jQuery
          .skills-bar
            .bar
        li(data-percent='64')
          span VB
          .skills-bar
            .bar
        li(data-percent='72')
          span PHP
          .skills-bar
            .bar
        li(data-percent='85')
          span Python
          .skills-bar
            .bar
    .skills-soft
      h3
        i.fa.fa-th-list
        | Software Skills
      ul
        li(data-percent='95')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span MS Office
          small
        li(data-percent='60')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span BurpSuite
          small
        li(data-percent='89')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span Sublime Text
          small
        li(data-percent='75')
          svg(viewbox='0 0 100 100')
            circle(cx='50' cy='50' r='45')
            circle.cbar(cx='50' cy='50' r='45')
          span Latex
          small
    .interests
      h3
        i.fa.fa-star
        | Interests
      .interests-items
        .draw
          i.fa.fa-code
          span Coding
        .guitar
          i.fa.fa-book 
          span Books
        .movie
          i.fa.fa-film
          span Videos
        .music
          i.fa.fa-image
          span Photography
        .game
          i.fa.fa-gamepad
          span Games